#intro img{
   /* display: flex;*/
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 25px;
    width: 200px;
    height: 150px;
    text-align: center;
    justify-content: center;
    position: relative;
    border-radius: 100%;
    border: 2px solid #0174DF;
}

#intro img:hover{
    cursor: pointer;
    background: rgba(0.0.0.0.3);
    justify-content: center;
}
#intro{
    border-bottom: rgba(0,114,193,0.95);
    background:;
}