@import url(HEADER.CSS);
@import url(BANNER.CSS);
@import url(fontello.css);
@import url(contenido-body.css);
@import url(contactos.css);


/*AQUI IMPORTARE UN CSS PARA LAS REDIRECCIONES DEL MENU*/

/*//////////////////////////////////////////////*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
