/*aqui comienza el css del header*/
header{
    width:100%;
    height: 50px;
    background: rgb(0,114,193,0.95);
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    display: table;
    
    /*display: none;*/
}
/*#######hay que arreglar el login en el header#######*/
header .menu{
    height: top;

}

#Logo{
    width: 70px;
    height: 70px;
    position:absolute;
    left: 1%;
    top: 2%;
}

#LogoText{
    width: 250px;
    height: 55px;
    position:absolute;
    left: 7%;
    top: 19%;
}

/**/
header label{
    display: none;
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.2);
    
}
.menu{
    top:50px;
}
/*aqui comienza el css para el check*/
#check-menu{
 
    display: none;
}
/*aqui comienza el css de los items del menu*/
.menu ul{
    margin:0;
    padding:15px;
    display:flex;
    list-style:none;
    flex-direction: row;
}

.menu li a:hover{
    background:rgba(0,0,0,0.2);
}
.menu li{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}

.menu li a{
    display: block;
    padding: 10px 10px;
    background: rgb(0,114,193,0.05);
    color:azure;
    text-decoration: none;
    font-size: 18px;
    
}

nav ul{
    display: block;
    float: right;
    margin-right:20px;
}

.cont-login input{
    display: none;
}

@media (max-width:595px){

    header label{
        display:block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .menu{
        position: absolute;
        background: rgb(0,114,193,0.9);
        width:100%;
        margin-left:-100%;
        transition:all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    #check-menu:checked ~ .menu{
        margin-left: 0%;
    }
    nav ul{
        float:none;
    }
}

