*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorLog{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
#Background{
    height: 99vh;
    width: 100%;
    position: absolute;
}

.contenedorLog #cuadrado{
   /* height: 320px;
    width: 450px;
    margin-left: -225px;
    margin-top: -160px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.9);*/
   
    height: 350px;
    width: 450px;
    margin-left: -225px;
    margin-top: -190px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.9);
}



#cuadrado #texto{
    position: absolute;
    margin-left: 7.7%;
    margin-top: 20%;
    font-size: 30px;
}

#cuadrado .iniciarSesion{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    outline: none;
    width: 84%;
    height: 30px;
    margin-left: 8%; 
    margin-top: 32%;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1.4px;
    border-color: black;
    font-size: 17px;    
}

#cuadrado #password{
    display: none;
    margin-top: 42%;
}

#cuadrado #crear{
    position: absolute;
    margin-left: 7.7%;
    font-size: 17px;
    margin-top: 45%;
}

#cuadrado #olvido{
    position: absolute;
    margin-left: 7.7%;
    font-size: 18px;
    margin-top: 43%;
    text-decoration: none;
    color: #0B74AE;
    display: none;
}

#cuadrado #olvido:hover{
    color: red;
}

#crear a{
    text-decoration: none;
    color:#0B74AE;
}

#crear a:hover{
    cursor: pointer;
}

#cuadrado #btn{
    position: absolute;
    background-color:#016EA6;
    color: aliceblue;
    font-size: 17px;
    width: 110px;
    height: 34px;
    text-align: center;
    left: 65%;;
    top: 80%;
    border: none;
    box-shadow: 0px 1.5px 2px 0px #000;
}

#cuadrado #btn:hover{
    background-color:#005683;
    cursor: pointer;
}

/*Animacion del boton*/
#cuadrado #btn:active{
    width: 100px;
    height: 29px;
    left: 66%;
    top: 81%;
}

#Logo{
    width: px;
    height: 45px;
    position:absolute;
    left: 25%;
    top: 5%;
    background-color: black;
    border-right: 152px solid black;
    border-left: 5px solid black;
    display: none;
}
.name{
    position: absolute;
    left: 30%;
    top: 8%;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-shadow: 0px 0 10px #07f;
    
}

#crearCuenta{
    height: 350px;
    width: 450px;
    margin-left: -225px;
    margin-top: -190px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    display: none;
}

#crearCuenta #textoCrear{
    position: absolute;
    margin-left: 7.7%;
    margin-top: 20%;
    font-size: 30px;
}

#userCrear{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    outline: none;
    width: 84%;
    height: 30px;
    margin-left: 8%; 
    margin-top: 35%;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1.4px;
    border-color: black;
    font-size: 17px;    
}
#userCrear2{
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    outline: none;
    width: 84%;
    height: 30px;
    margin-left: 8%; 
    margin-top: 55%;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1.4px;
    border-color: black;
    font-size: 17px;
    display: none;
}

#moreInformation{
 position: absolute;
    top: 43%;
    left: 8%;
    display: none;
}

#btnCrear{
    position: absolute;
    background-color:#016EA6;
    color: aliceblue;
    font-size: 17px;
    width: 110px;
    height: 34px;
    text-align: center;
    left: 65%;;
    top: 80%;
    border: none;
    box-shadow: 0px 1.5px 2px 0px #000;
}

/*Animacion del boton*/
#btnCrear:active{
    width: 100px;
    height: 29px;
    left: 66%;
    top: 81%;
}

#btnCrear:hover{
    background-color:#005683;
    cursor: pointer;
}

.retroceder{
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 22.6%;
    left: 7%;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    display: none;
}

.retroceder:hover{
    border-radius: 50%;
    background-color:  rgba(140,150,160,0.5);
    cursor: pointer;
}
.retroceder:active{
    top: 23.1%;
    font-size: 18px;
}

#retroceder2_2{
    top: 27%;
    left: 2%;
}
.identificador{
    position: relative;
    top: 23%;
    left: 13%;
    display: none;
}