*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
#reserva{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   /* height: 50%;
    widows: 50%;*/
}

.reserva{
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    
}
.items{
    border-top: 1px solid #2980b9;
    overflow: hidden;
}
#a1{
    display: block;
    padding: 15px 20px;
    background: rgba(0,114,193,0.95);
    color: white;
    text-align: center;
    position: relative;
    
}
.items ul{
    background: #333;
  /*  overflow: hidden;*/
    transition: max-height 0.5s;/*estoy tengo que resolverlo para que cuando pase el mouse se despliegue el sub-menu*/
    /*max-height: 0;*/
   /* position: relative;*/
    left: 280px;
    width: 300px;
    position: absolute;
    display: none;
    transform: translateY(-50px);
}
a2{
    /*display: block;*/
    padding: 15PX 20PX;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}

.items:hover{
    cursor:pointer;
    background: rgba(0,0,0,1);
    min-height: 25px;
}
.items:hover > ul{
    display: block;
}
.items ul li{
    padding: 15px 20px;
    background: rgba(0,114,193,0.95);
    text-align: center;
    border-bottom: 1px solid rgb(255,255,255,0.1);
}
.items ul li a{
    color: white;
}
.items ul li:hover{
    background: rgba(0,114,13,0.95);
}
.fecha:hover ul{
    display: block;
    position: absolute;
    width: 300px;
    
}

.fecha ul li{
    display: block;
    display: flex;     
}


/*//////////////////////////////////////////////////////////////////////*/
/*


REALIZAR PRUEVA

#reserva{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    widows: 50%;
}
.reserva{
    width: 300px;
    border-radius: 8px;
}
#items{
    height: 35px;
    width: 300px;
    display: block;
    text-align: center;
    border-top: 2px solid #000;
    background: rgba(0,114,193,0.95); 
}
#item{
    display: none;
    
}
#items a{
    padding: 5px;
    display: block;
    text-align: center;
    
}

